{% extends 'base.html' %}
{% block title %}Alumni's List | {{ block.super }}{% endblock %}

{% block content %}

    <div class="container-fluid" align="center" style="margin-top: 25px; margin-left: 20%">
    <nav class="navbar sticky-top navbar" style="justify-content: center">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" name="search_alumni" placeholder="Search Alumni" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav></div>

<div class="container-fluid" style="width: 55%; margin-top: 70px">

    {% if message %}
        <h3 align="center">{{ message }}</h3>
    {% endif %}

    {% if alumnies.object_list.exists != 0 %}
        <div class="row">

        {% for alumni in alumnies %}
            {% if forloop.counter|divisibleby:"3" %}
                <div class="row">
            {% endif %}
             <div class="col">
                <p align="center"><img class="rounded-circle " title="{{ alumni.user.get_full_name }}" src="{{ alumni.profile_pic.url }}"  width="270px" height="270px" style="margin-bottom: 15px">
                    <br><a href="{% url 'user_profile' alumni.user.username %}"><strong>{{ alumni.user.get_full_name }}, {{ alumni.company }}</strong></a></p>
                 <br>
             </div>

            {% if forloop.counter|divisibleby:"3" %}
                </div>
            {% endif %}

        {% endfor %}

        <nav>
          <ul class="pagination fixed-bottom justify-content-center">
              {% if alumnies.has_previous %}
                  <li class="page-item active">
                      <a class="page-link" href="?page={{ alumnies.previous_page_number }}" tabindex="-1">Previous</a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
              {% endif %}

              {% for p in alumnies.paginator.page_range %}
                  {% if p < page_upper and page_lower <= p %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                  {% endif %}
              {% endfor %}

              {% if alumnies.has_next %}
                  <li class="page-item active">
                      <a class="page-link" href="?page={{ alumnies.next_page_number }}">Next</a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" href="#">Next</a>
                  </li>
              {% endif %}
          </ul>
        </nav>

        </div>
    {% else %}
        <h2> No alumni found</h2>
    {% endif %}

</div>
{% endblock %}